.self-closing-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backdrop-background);
  width: 100vw !important;
  height: 100% !important;
  display: grid;
  place-content: center;
  z-index: 2;
}

.self-closing-modal.padding > div.modal-content {
  padding: 20px;
}

.self-closing-modal > div.modal-content {
  display: block;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--modals-bg-color);

  width: min(var(--modal-min-width, 600px), 98vw);
  gap: 10px;
  margin-inline: auto;
  overflow: auto;
  max-height: 95vh;
  position: relative;
}

.self-closing-modal .modal-closer {
  position: absolute;
  right: 20px;
  top: 25px;
  z-index: 2;
  cursor: pointer;
}

.icon-component {
  background-color: red;
}

.loader {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  overflow: hidden;
  gap: 5px;
  padding: 4px;
  justify-content: center;
  animation: glowing 1000ms linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-icon {
  width: 30px;
  height: 30px;

  border: 2px solid var(--loader-color);
  border-top-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-icon::after {
  content: "";
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  border: 2px solid var(--color-hovered);
  border-top: 2px solid var(--color-active);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes glowing {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
