.tabs {
  display: flex;
  align-items: center;
  gap: 2px;
}
.tab {
  display: flex;
  background-color: var(--bg-color);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px 6px;
}

.tab.active {
  background-color: var(--opaque-blue-editor);
}

.tab.active button {
  color: var(--color-active);
}

.editor {
  border: 7px solid var(--opaque-blue-editor);
  border-radius: 0px;
  border-top-right-radius: 5px;
  position: relative;
  height: 97%;
  /* background-color: red; */
}
/* 
.editor-monaco .view-lines,
.editor-monaco .margin-view-overlays {
  height: min(500px, fit-content) !important;
} */

.terminal {
  border: 3px solid var(--opaque-blue-editor);
  border-top: 0;
  overflow-y: auto;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.terminal.html {
  height: min(400px, fit-content);
  overflow-y: auto;
  border: none;
}
.terminal.only {
  margin-top: 0;
  border: 0;
  max-height: 70vh;
  border-radius: 5px;
  & .editor-footer {
    margin-top: 20px;
    display: block;
    position: relative;
  }
}
.terminal.hidden {
  display: none;
}
.terminal > h5 {
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 16px;
}

.terminal > pre {
  background-color: var(--bg-color);
  border: none;
  max-width: 100%;
  height: fit-content F;
  word-break: break-word !important;
  white-space: pre-wrap;
}
.terminal > pre > code {
  word-wrap: break-word;
}
.editor-footer {
  background-color: var(--app-bg-color);
  bottom: 8px;
  width: calc(100% - 16px);
  left: 8px;
  right: 8px;
  border-radius: 8px;
  font-size: 12px;

  & .compiler {
    background-color: var(--color-active);
    color: white !important;
    & .set-stroke path {
      stroke: white;
    }
  }
}

.editor-footer.UNMODIFIED {
  background-color: var(--modals-bg-color);
}
.editor-footer.MODIFIED {
  background-color: var(--modals-bg-color);
}

.editor .editor-footer.success {
  background-color: var(--soft-green);
}

.editor .editor-footer.error {
  color: white !important;
  background-color: var(--soft-red);
}

.editor-footer .not-started {
  display: flex;
  align-items: center;
  gap: 9px;
  color: var(--color-active);
  padding: 4px;
  justify-content: space-between;
  font-size: 12px;
}
.editor-footer .not-started span {
  font-size: 12px;
}

.editor-footer .not-started > div:first-child {
  display: flex;
  align-items: center;
  gap: 5px;
}
.editor-footer .footer-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 4px;
}

.editor-footer .footer-actions > div > button,
.editor-footer .footer-actions > button,
.editor-footer .footer-actions > div {
  width: 100%;
  border-radius: 4px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--color-active);
}
.editor-footer.success {
  background-color: var(--soft-green);

  & .footer-actions > button svg path {
    stroke: var(--color-success);
  }
  & .footer-actions > div > button > svg path {
    stroke: var(--color-success);
  }
  & .footer-actions > div {
    color: var(--color-success);
  }
  & .footer-actions > button {
    color: black;
  }
  & .footer-actions > div > button {
    color: black;
  }
  & .editor-footer-child .set-path-fill path {
    fill: var(--color-success);
  }
  & .compiler {
    background-color: var(--color-success);
    color: white !important;

    & .set-path-fill path {
      stroke: white;
    }
  }
}
.editor-footer.error {
  background-color: var(--soft-red);

  & .footer-actions > button svg path {
    stroke: var(--color-fail);
  }
  & .footer-actions > div > button > svg path {
    stroke: var(--color-fail);
  }
  & .footer-actions > div > button {
    color: var(--color-fail);
  }
  & .footer-actions > button {
    color: var(--color-fail);
  }
  & .footer-actions > div {
    color: var(--color-fail);
  }

  & .editor-footer-child .set-path-fill path {
    fill: var(--color-fail);
  }

  & .compiler {
    background-color: var(--color-fail);
    color: white !important;

    & .set-path-fill path {
      stroke: white;
    }
  }
}

.footer-actions button {
  font-size: 15px !important;
}
