.tabs {
  display: flex;
  align-items: center;
  gap: 2px;
}
.tab {
  display: flex;
  background-color: var(--bg-color);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.tabs button {
  padding: 5px 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab .close-tab {
  color: black !important;
}
.tab.active {
  background-color: var(--opaque-blue-editor);
}

.tab.active button {
  color: var(--color-active);
}

.tabs button.add-tab {
  color: rgb(0, 0, 0);
  border: none;
}

.theme-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  display: none;
}
.theme-selector select {
  border-radius: 8px;
  padding: 3px;
}

.editor {
  border: 7px solid #a5d9f8;
  border-radius: 5px;
  border-top-left-radius: 0;
  position: relative;
}

.editor-monaco .view-lines,
.editor-monaco .margin-view-overlays {
  height: min(300px, fit-content) !important;
}
.terminal {
  border-radius: 5px;
  border: 8px solid #a5d9f8;
  margin-top: -8px;
  padding: 8px;
  height: fit-content;
  overflow-y: auto;
  position: relative;

}
.terminal.html {
  height: min(400px, fit-content);
  overflow-y: auto;
  border: none;
  padding-bottom: 8px;
}
.terminal.only {
  margin-top: 0;
  border: 0;
  max-height: 500px;
  & .editor-footer {
    margin-top: 20px;
    display: block;
    position: relative;
  }
}
.terminal.hidden {
  display: none;
}
.terminal > h5 {
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terminal > pre {
  background-color: var(--bg-color);
  border: none;
  max-width: 100%;
  height: fit-content F;
  word-break: break-word !important;
  white-space: pre-wrap;
}
.terminal > pre > code {
  word-wrap: break-word;
}
.editor-footer {
  background-color: var(--bg-color);
  position: absolute;
  bottom: 8px;
  padding: 8px;
  width: calc(100% - 16px);
  left: 8px;
  border-radius: 8px;
  font-size: 12px;
}

.editor-footer.UNMODIFIED {
  background-color: var(--modals-bg-color);
}
.editor-footer.MODIFIED {
  background-color: var(--modals-bg-color);
}

.editor .editor-footer.success {
  background-color: var(--soft-green);
}

.editor .editor-footer.error {
  color: white !important;
  background-color: var(--soft-red);
}

.editor-footer .not-started {
  display: flex;
  align-items: center;
  gap: 9px;
  color: var(--color-active);
  padding: 4px;
  justify-content: space-between;
  font-size: 12px;
}
.editor-footer .not-started span {
  font-size: 12px;
}

.editor-footer .not-started > div:first-child {
  display: flex;
  align-items: center;
  gap: 5px;
}
.editor-footer .footer-actions {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.editor-footer .footer-actions > div > button,
.editor-footer .footer-actions > button,
.editor-footer .footer-actions > div {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--color-active);
}
.editor-footer.success {
  background-color: var(--soft-green);

  & .footer-actions > button svg path {
    stroke: var(--color-success);
  }
  & .footer-actions > div > button > svg path {
    stroke: var(--color-success);
  }
  & .footer-actions > div {
    color: var(--color-success);
  }
  & .footer-actions > button {
    color: black;
  }
  & .footer-actions > div > button {
    color: black;
  }
}
.editor-footer.error {
  background-color: var(--soft-red);

  & .footer-actions > button svg path {
    stroke: var(--color-fail);
  }
  & .footer-actions > div > button > svg path {
    stroke: var(--color-fail);
  }
  & .footer-actions > div > button {
    color: var(--color-fail);
  }
  & .footer-actions > button {
    color: var(--color-fail);
  }
  & .footer-actions > div {
    color: var(--color-fail);
  }
}

.footer-actions button {
  font-size: 15px !important;
}
.editor-footer .footer-actions > button svg,
.editor-footer .footer-actions > div svg {
  height: 15px;
}
.editor-footer .footer-actions > button svg path,
.editor-footer .footer-actions > div > button > svg path {
  stroke: var(--color-active);
}

.editor-footer .footer-actions button.active {
  background-color: var(--color-active);
  color: white;
}
.editor-footer .footer-actions button.active svg path {
  stroke: white;
}
