.reset-modal {
  text-align: center;
}
.reset-modal > section {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.login-modal h2 {
  text-align: center;
}

.login-modal > div div:has(button) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
