.container {
  display: flex;
  gap: 8px;
  background-color: var(--bg-color);
  flex-wrap: nowrap;
}

.container > div {
  width: 65%;
}
.container > div:only-child {
  width: 100%;
}
.content {
  display: flex;
  position: relative;
}
.content > section {
  padding: 8px;
  width: 100%;
  max-height: 84dvh;
  overflow: auto;
}

.appTabs {
  display: flex;
  background-color: var(--tabs-bg-color);
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.appTabs > div {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #728ec0;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.appTabs > div[data-visible="true"] {
  background-color: var(--bg-color);
  color: var(--color-active);
  border-bottom: 3px solid var(--color-active);
}
.hiddenOnMobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    gap: 8px;
  }

  .content > section {
    padding: 8px;
    width: 100%;
  }
  .appTabs {
    display: none;
  }
  .hiddenOnMobile {
    display: block;
    text-align: center;
  }
}
