.app-header {
  animation: scale-navbar auto linear both;
  animation-timeline: scroll();
  animation-range: 10px 150px;
  position: sticky;
  top: 0;
}

.app-header:hover {
  opacity: 1 !important;
}

.navbar-component {
  padding: 10px 10px;
  background-color: var(--bg-color);
  display: flex;
  width: 100%;
  transition: all 2s;
  margin: 0 auto;
  max-width: 1145px;
  justify-content: space-between;
}

.navbar-component > section {
  display: flex;
  gap: 3px;
  align-items: center;
}
.navbar-component > section > button,
.navbar-component > section > div {
  border: 1px solid var(--color-active);
  border-radius: 5px;
}

.lesson-options {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  margin: 0 auto;
  max-width: 1145px;
  padding: 8px;
  justify-content: space-between;
}

.lesson-options > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lesson-options button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@keyframes scale-navbar {
  from {
  }

  to {
    opacity: 0;
  }
}

.feedback-dropdown {
  position: absolute;

  width: 250px !important;
  padding: 2px;
  border: 1px solid var(--color-active);
  background-color: var(--modals-bg-color);
  border-radius: 7px;
  max-width: 300px;
  font-size: var(--font-size-small);
  display: flex;
  gap: 5px;
  align-items: baseline !important;
  z-index: 4;
  flex-direction: column;
}
.feedback-dropdown.up {
  bottom: 103%;
  right: 0;
}
.feedback-dropdown.down {
  top: 103%;
  left: -75%;
}

.feedback-dropdown > * {
  width: fit-content;
}

.feedback-dropdown > button {
  color: var(--color-active);
  width: 100%;
  padding: 7px;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
}

.feedback-dropdown > button:hover {
  background-color: var(--color-blue-opaque);
}

.feedback-dropdown > p {
  padding: 3px;
  background-color: #f6f6f643;
}

.feedback-dropdown > p > a {
  font-weight: 600;
  color: var(--color-active);
  cursor: pointer;
}

#feedback-button {
  min-width: fit-content;
}
