.app-header {
    animation: scale-navbar auto linear both;
    animation-timeline: scroll();
    animation-range: 10px 150px;
    position: sticky;
    top: 0;
    &:hover {
        opacity: 1 !important;
    }
}

.navbar-component {
    padding: 10px 20px;
    background-color: var(--bg-color-gray);
    display: flex;
    gap: 5px;
    width: 100%;
    transition: all 2s;
    margin: 0 auto;
    max-width: 1145px;
    justify-content: space-between;

    >section {
        display: flex;
        gap: 5px;
        align-items: center;

        >button {
            height: 70%;
            display: flex;
            gap: 5px;
        }

        >div.feedback-dropdown-container {
            position: relative;
            height: 70%;
        }

        >div.feedback-dropdown-container>button {
            display: flex;
            gap: 5px;
        }

    }
}

.lesson-options {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0 auto;
    max-width: 1145px;
    padding: 8px;
    justify-content: space-between;

    >div {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    & button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.reset-modal {
    >section {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
}


@keyframes scale-navbar {
    from {}

    to {
        opacity: 0;
    }
}

.feedback-dropdown {
    position: absolute;
    top: 103%;
    left: -75%;
    width: max-content;
    padding: 2px;
    border: 1px solid var(--color-active);
    background-color: white;
    border-radius: 7px;
    max-width: 300px;
    display: flex;
    gap: 5px;
    align-items: baseline;
    z-index: 1;
    flex-direction: column;
  
    >* {
        width: fit-content;
    }
  
    >button {
        color: var(--color-active);
        width: 100%;
        padding: 7px;
        text-align: left;
        display: flex;
        justify-content:left;
        align-items: center;
        
    }
  
    >button:hover {
        background-color: var(--color-blue-opaque);
    }
    > p {
      padding: 3px;
      background-color: #F6F6F6;
      > a {
        font-weight: 600;
        color: var(--color-active);
        cursor: pointer;
      }
    }
  }