.language-dropdown {
  display: flex;
  position: absolute;
  top: 101%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid var(--color-hovered);
  padding: 6px;
  border-radius: 9px;
  flex-direction: column;
  z-index: 2;
  background-color: var(--bg-color);
}

.language-dropdown > button {
  display: flex;
  gap: 7px;
  align-items: center;
}

.language-component {
  width: fit-content !important;
  border: 1px solid var(--bg-color);
  padding: 7px;
  position: relative;
  border-radius: 10px;
  background-color: transparent;
}

.language-component > button {
  display: flex;
  gap: 6px;
  align-items: center;
}

.task-list-item {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 7px;
  color: var(--read-font-color);
  transition: all 0.3s ease;
}
.task-list-item:hover {
  background-color: var(--color-blue-opaque);
  cursor: pointer;
}
.task-list-item-checkbox {
  width: 20px;
  height: 20px;
  margin-inline: 10px;
  appearance: none;
  background: transparent; /* Cambia a transparente */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--color-active); /* Aumenta el grosor del borde */
  position: relative; /* Añade posición relativa */
}

.task-list-item-checkbox:checked {
  background: var(--soft-blue-color); /* Color de fondo cuando está marcado */
}

.task-list-item-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px; /* Ajusta el tamaño del círculo interior */
  height: 12px;
  background: var(--color-active); /* Color del círculo interior */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.task-list-item.success {
  color: black;
  background-color: var(--soft-green) !important;
  transition: background-color 0.3s ease;
}

.task-list-item.fail {
  color: black;
  background-color: var(--soft-red) !important;
  animation: toSelected 0.5s ease forwards;
}
/* The checkbox should have the same colors */
.task-list-item.fail .task-list-item-checkbox {
  border: 2px solid var(--color-fail);
}
.task-list-item.fail .task-list-item-checkbox:checked::after {
  background-color: var(--color-fail);
}
/* The same for the success state */
.task-list-item.success .task-list-item-checkbox {
  border: 2px solid var(--color-success);
}
.task-list-item.success .task-list-item-checkbox:checked::after {
  background-color: var(--color-success);
}

.task-list-item:has(.task-list-item-checkbox:checked) {
  background-color: var(--color-blue-opaque);
}

@keyframes toSelected {
  from {
    scale: 1;
  }
  to {
    background: var(--color-blue-opaque) !important;
    scale: 1.01;
  }
}
