.input-modal {
  position: fixed;
  top: 100px;
  left: 50%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  z-index: 20;
  transform: translate(-50%, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min(400px, 90%);
  > input {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
  }
  > div {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  & button {
    width: fit-content;
    padding: 7px;
    cursor: pointer;
    border-radius: 6px;
    background-color: var(--color-border);
    color: white;
  }
}
