.header {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  padding-inline: 10px;
  padding-block: 10px;
  align-items: center;
  background-color: var(--app-bg-color);
  /* background-color: red; */
}

.header > section {
  display: flex;
  gap: 8px;
}
.header > section:last-child {
  display: flex;
  gap: 15px;
}

.header > section > button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
