.lesson-content {
  font-size: 20px;
  padding-inline: 16px;
  line-height: 2rem;
  position: relative;
  padding-bottom: 50px;
}

.lesson-content img {
  margin: 5px auto;
  max-width: 750px;
  display: block;
}

.lesson-content h1 {
  font-size: 32px;
  font-weight: 800;
}


.lesson-content h2 {
  font-size: 27px;
  font-weight: 600;
}

.lesson-content h3 {
  font-size: 23px;
  font-weight: 600;
}

.lesson-content h4, 
.lesson-content h5,
.lesson-content h6 {
  font-size: 20px;
  font-weight: 600;
  color: var(--font-color-secondary);
}

.lesson-content {
  h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child), p:not(:first-child) {
    margin-block: 15px;
  }
}

.creator-wrapper {
  position: relative;

  & .display-on-hover {
    display: none;
  }
}

.creator-wrapper:hover .display-on-hover {
  display: block;
}
.inverted {
  transform: scaleY(-1);

  > * {
    transform: scaleY(-1);
  }
}

.creator-options {
  display: flex;
  border-radius: 5px;
  gap: 3px;
  position: absolute;
  top: 0;
  left: 0px;
  flex-direction: column;
  z-index: 800;
}

.creator-options-buttons {
  background-color: var(--color-blue-opaque);
  width: fit-content;
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 800;
  border-radius: 5px;
}

.text-in-editor {
  position: relative;
}

.creator-options-opener {
  display: block;
  padding: 2px;
  border-radius: 5px;
  background-color: var(--app-bg-color);
}

.creator-controls {
  display: none;
  position: absolute;
  right: 100%;
  top: 5px;
  z-index: 1000;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.creator-drag-handle {
  display: flex;
  padding: 4px;
  border-radius: 5px;
  background-color: var(--app-bg-color);
  cursor: grab;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.creator-drag-handle:hover {
  background-color: var(--color-blue-opaque);
  border-color: var(--color-blue-rigo);
}

.creator-drag-handle:active {
  cursor: grabbing;
}

.creator-wrapper:hover > .text-in-editor > .creator-controls {
  display: flex !important;
}

.creator-wrapper:hover {
  background-color: var(--color-blue-opaque);
  border-radius: 2px;
}

.creator-wrapper.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.creator-wrapper[draggable="true"] {
  cursor: grab;
}

.creator-wrapper[draggable="true"]:active {
  cursor: grabbing;
}

.creator-wrapper.drag-over {
  background-color: var(--color-blue-opaque);
}

.drag-indicator-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--color-blue-rigo, #3b82f6);
  z-index: 1000;
  border-radius: 2px;
  pointer-events: none;
}

.creator-target-content {
  color: var(--color-success);
}

.creator-target {
  border-radius: 5px;
}

.code-buttons {
  background-color: var(--color-blue-opaque);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  color: var(--color-blue-rigo);
}

.custom-code-block {
  position: relative;
}

.execution-result {
  background-color: var(--color-blue-opaque);
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
  color: var(--color-success);
}

.katex {
  font-size: 1.2rem;
  line-height: 2rem;
}

.rigo-input {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  width: min(600px, 90vw);
  display: flex;
  align-items: center;
  gap: 5px;
}

.rigo-button {
  background: linear-gradient(132deg, #0fb0fc, #022cc2);
  border: 2px solid white;
  color: var(--white);
  opacity: 1;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.user-button {
  background-color: var(--bg-1);
  color: var(--color-blue-rigo);
  border: 1px solid var(--color-blue-rigo);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.mr-12 {
  margin-right: -12px;
}

.rigo-textarea {
  border: 0;
  background: #c8dbfc;
  font-size: 16px;
  padding: 7px;
  outline: none;
  width: 100%;
  border-radius: 10px;
  color: black;
  &::placeholder {
    color: var(--color-blue-rigo);
  }
}
