/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.navbar-component {
  padding: 10px 20px;
  background-color: var(--bg-color-gray);
  display: flex;
  gap: 5px;
  width: 100%;

  margin: 0 auto;
  max-width: 1145px;
  justify-content: space-between;

  >section {
      display: flex;
      gap: 5px;
      align-items: center;

      >button {
          height: 70%;
          display: flex;
          gap: 5px;
          /* background-color: rebeccapurple; */
      }
      >div.feedback-dropdown-container {
        position: relative;
        height: 70%;
      }
      >div.feedback-dropdown-container >button {
        display: flex;
        gap: 5px;
      }
      
  }
}

.lesson-container-component {
  background-color: white;
  max-width: 1145px;
  margin: 0 auto;
  /* min-height: 90vh; */
  padding: 15px;
  overflow-y: scroll;
}


.lesson-content-component {
  line-height: 20px;
  >h1,h2,h3,h4,h5,h6 {
    margin: 15px 0px;
  }
  >pre {
    margin: 10px 0;
  }
}

.lesson-options {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;

  >div {
      display: flex;
      gap: 10px;
      align-items: center;
  }
}

.footer {
  background-color: var(--bg-color-gray);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.status-bar {
  
  animation: palpitate 2s ease infinite;
}

@keyframes palpitate {
  0%{
      opacity: 1;
  }
  50%{
      opacity: 0.5;
  }
  100%{
      opacity: 1;
  }
}

.feedback-dropdown {
  position: absolute;
  top: 103%;
  left: -75%;
  width: max-content;
  padding: 2px;
  border: 1px solid var(--color-active);
  background-color: white;
  border-radius: 7px;
  max-width: 300px;
  display: flex;
  gap: 5px;
  align-items: baseline;
  z-index: 1;
  flex-direction: column;

  >* {
      width: fit-content;
  }

  >button {
      color: var(--color-active);
      width: 100%;
      padding: 7px;
      text-align: left;
      display: flex;
      justify-content:left;
      align-items: center;
      
  }

  >button:hover {
      background-color: var(--color-blue-opaque);
  }
  > p {
    padding: 3px;
    background-color: #F6F6F6;
    > a {
      font-weight: 600;
      color: var(--color-active);
      cursor: pointer;
    }
  }
}


.language-component {
  width: fit-content !important;
  border: 1px solid var(--bg-color-gray);
  padding: 7px;
  position: relative;
  border-radius: 10px;
  >button {
    display: flex;
    gap: 6px;
    align-items: center;
    
  }
}

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 

  >div {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: min(98%, 500px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    >div {
      display: flex;
    }
    >form {
      display: flex;
      gap: 5px;
      flex-direction: column;
      >button {
        width: fit-content;
        margin: 0 auto;
        padding: 7px;
        cursor: pointer;
        border-radius: 6px;
      }
      > input {
        border: 1px solid gray;
        border-radius: 8px;
        padding: 10px;

      }
    }
    >section {
      display: flex;
      justify-content: space-around;
    }
    > p {
      font-weight: 700;
      font-size: 14px;
    }
  }
}

.simple-button-svg {
  max-height: 100% !important;
  gap: 10px;
  >svg {
    max-height: 100% !important;
  }
}


.feedback-container {
  background-color: rgba(31, 31, 31, 0.821);
  backdrop-filter: blur(1px);
  position: absolute;
  z-index: 2;
  width: 100% !important;
  min-height: 100% !important;
}

.feedback-component{
  width: min(99%, 600px);
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  backdrop-filter: blur(10px);
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 13px;
  left: 50%;
  transform: translate(-50%, 0%);
  >.-header {
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >button {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      font-weight: 600;
    }
  }
  >p {
    font-size: 16px;
  }
  >.-content {
    padding: 10px;
    background-color: #f9f9f9;
  }
  >.-footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    > div {
      display: flex;
      justify-content: space-around;
    }
  }
}

.exercise-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 70px;
}

.exercise-card {
  background-color: var(--color-blue-opaque);
  display: flex;
  padding: 8px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;

  >div {
      display: flex;
      gap: 10px;
      align-items: center;
  }
}

.exercise-card:hover {
  /* scale: 1.01; */
  opacity: 1;
}

.sidebar-component {
  width: 100vw;
  /* min-height: 100vh; */
  position: absolute;
  left: 101%;
  z-index: 2;
  background-color: #FAFAFB;
  animation: appear-4-right 0.5s ease 1 forwards;
  >section:not(:last-child) {
    padding: 6px;
    display: flex;
    justify-content: end;
    gap: 8px
  };
}

#socket-disconnected {
  display: none;
}


.sidebar-disappear {
  animation: disappear-4-right 0.4s ease 1 forwards;
}


.language-dropdown {
  display: flex;
  position: absolute;
  top: 101%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid #d1d0d0cc;
  padding: 6px;
  border-radius: 9px;
  flex-direction: column;
  >button {
    display: flex;
    gap: 7px;
    align-items: center;
  }
}


@keyframes appear-4-right {
  0% {
      left: 101%;
  }

  100% {
      left: 0px;
  }
}

@keyframes disappear-4-right {
  0% {
      left: 0px;
  }

  100% {
      left: 101%;
  }
}