/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --color-border: #b2b2b2;
  --bg-color-gray: #eff1f4;
  --bg-color-dark-gray: #a1a1a1;

  --color-active: #1986da;
  --color-blue-opaque: #ebf8fe;
  --color-blue: #c1dfed;
  --color-success: #21b761;
  --color-fail: #eb5757;
  --bg-color-code: #2d3748;
  --backdrop-background: rgba(0, 0, 0, 0.7);

  --font-color-secondary: #9c9c9c;
  --font-size-small: 16px;
  --font-size-medium: 18px;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: "Inter", sans-serif;
}
* {
  font-family: "Inter", sans-serif;
}
body {
  background-color: #eff1f4;
  /* height: fit-content; */
  overflow-x: hidden;
  overflow-y: scroll;
}

img {
  width: 100%;
}

button {
  border: 0;
  background: transparent;
}
h1 {
  font-size: 18px;
  font-weight: 700;
}
hr {
  margin-top: 15px;
}

pre {
  background-color: var(--bg-color-code);
  padding: 10px;
  border-left: 2px solid var(--color-active);
  border-radius: 5px;
  overflow: auto;
}
code {
  color: white;
  background-color: var(--bg-color-code);
  /* word-break: break-all; */
}
code:not(pre code) {
  border-left: 2px solid var(--color-active);
  padding: 2px 6px;
  border-radius: 5px;
}
li {
  padding-left: 0 !important;
  list-style-type: disc;
  margin-left: 20px !important;
}

button {
  cursor: pointer;
}
/* This will affect the entire webpage */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(
    0,
    0,
    0,
    0.433
  ); /* Change the color and transparency as needed */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.pill {
  border-radius: 7px;
  padding: 14px 9px;
  display: flex;
  align-items: center;
}

.bg-blue {
  background-color: var(--color-active) !important;
  color: white;
}

.border-blue {
  border: 1px solid var(--color-active);
}
.color-blue {
  color: var(--color-active);
}

.scrolleable {
  overflow-y: auto !important;
}

.blue-circle {
  background-color: var(--color-active);
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  position: relative;
  > * {
    position: absolute;
    left: 50%;
    font-size: 10px;
    color: white;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.pos-relative {
  position: relative;
}

.bg-fail {
  background-color: var(--color-fail) !important;
}
.bg-success {
  background-color: var(--color-success) !important;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.modal-container {
  width: 100%;
  height: 100vh !important;
  position: absolute;
  z-index: 10;
  background-color: var(--backdrop-background);
  display: flex;
  flex-direction: column;
  padding: 10px;
  > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: min(99%, 750px);
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    > .modal-header {
      font-weight: bolder;
      font-size: 16px;
    }
    > .modal-content {
      background-color: rgb(236, 232, 232);
      padding: inherit;
      border-radius: inherit;
    }
  }
}

.text-white {
  > svg {
    stroke: white;
  }
  border: white;
  color: white !important;
}

.d-block {
  display: block;
}

.align-center {
  align-items: center;
}

.palpitate {
  animation: palpitate 1s ease-in infinite;
  animation-play-state: running;
}

@keyframes palpitate {
  0% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
