/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --bg-color-dark-gray: #a1a1a1;
  --bg-color: #f9f9f9;
  --app-bg-color: white;
  --color-active: #02a9ea;

  --4geeks-yellow: #ffd900;
  --color-warning: #ffd900;
  --opaque-blue-editor: #a5d9f8;

  --color-blue-opaque: #eef9fe;

  --color-blue: #c1dfed;

  --soft-blue: #eef9fe;

  --color-blue-rigo: #0084ff;
  --tabs-bg-color: #f4faff;
  --color-hovered: rgba(224, 224, 224, 0.665);
  --light-grey: #dadada;
  --color-success: #21b761;
  --color-fail: #eb5757;
  --bg-color-code: #f1fcffd5;
  --link-inactive-color: #c1c1c1;
  --backdrop-background: rgba(0, 0, 0, 0.7);
  --soft-green: #a4ffbd;
  --soft-red: #ffbebe;
  --modals-bg-color: var(--bg-color);
  --font-color-secondary: #9c9c9c;
  --font-size-small: 16px;
  --font-size-mini: 12px;
  --font-size-medium: 18px;
  --app-width: min(100%, 1111px);
  --read-font-color: black;
  --font-color-secondary: #4c648f;
  --gray-blue-color: #9fbdf0;
  --dropdown-bg-color: white;
  --standard-border-radius: 8px;
  --bg-1: #fafdff;
  --bg-2: #f3fafe;
  --white: #ffffff;

  --sidebar-bg-color: #e4e8ee;

  font-size: 16px;
}

:root:has(main.dark) {
  font-size: 16px;
  --bg-color-dark-gray: #a1a1a1;
  --bg-color: #111f39;
  /* --app-bg-color: #00041a; */
  --app-bg-color: #111f39;
  --app-bg-color-opaque: #00041a38;
  --color-active: #02a9ea;
  --4geeks-yellow: #ffd900;
  --opaque-blue-editor: #a5d9f8;
  --soft-blue: #9bb6c2;
  --color-blue-opaque: #012c57;
  --color-hovered: rgba(95, 95, 95, 0.311);
  --color-success: #21b761;
  --color-fail: #eb5757;
  --bg-color-code: #2d3748;
  --link-inactive-color: #a9a9a9;
  --backdrop-background: rgba(0, 0, 0, 0.7);
  --tabs-bg-color: #1e1e1e;
  --font-color-secondary: #9c9c9c;
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --dropdown-bg-color: var(--bg-color);
  --read-font-color: white;
  --font-color-secondary: #6e90d1;
  --gray-blue-color: #9fbdf0;
  --white: #000000;
  --bg-1: #111f39;
  --bg-2: #1a2d50;
  --sidebar-bg-color: #131b25;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
html:has(main.dark) {
  color-scheme: dark light;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  overflow-y: scroll;
}

img {
  width: 100%;
}

button {
  border: 0;
  background: transparent;
}
h1 {
  font-size: 26px;
  font-weight: 700;
}
hr {
  margin-top: 15px;
}
pre {
  border-left: 2px solid var(--color-active);
  overflow: auto;
  padding: 10px !important;
  margin: 0 !important;
  border-radius: 0px !important;
}

code:not(pre code) {
  padding: 2px 6px;
  border-radius: 5px;
  background-color: rgb(207, 243, 255);
  color: rgb(0, 25, 38);
}
li {
  padding-left: 0 !important;
  margin-left: 20px !important;
}
ul > li {
  list-style-type: disc;
}
ol > li {
  list-style-type: decimal;
}
blockquote {
  border-left: 2px solid var(--color-active);
  padding: 2px 6px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--color-hovered);
}
button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: var(--bg-color-code);
  padding: 6px;
  color: var(--read-font-color);
  border: 1px solid rgb(130, 130, 130);
}
td {
  border: 1px solid rgb(130, 130, 130);
  text-align: center;
  padding: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.creator-wrapper {
  margin-block: 15px;
  line-height: 1.7;
}

form button {
  width: fit-content;
  padding: 7px;
  cursor: pointer;
  border-radius: 6px;
}
form input {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
}
a {
  word-break: break-all;
}

/* This will affect the entire webpage */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(
    0,
    0,
    0,
    0.433
  ); /* Change the color and transparency as needed */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-active);
}

.pill {
  border-radius: 7px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
}

.bg-blue {
  background-color: var(--color-active) !important;
  color: white;
}

.border-blue {
  border: 1px solid var(--color-active);
}
.color-blue {
  color: var(--color-active);
}

.bg-secondary {
  background-color: rgba(231, 231, 231, 0.761);
}
.scrolleable {
  overflow-y: auto !important;
}

.blue-circle {
  background-color: var(--color-active);
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  position: relative;
}
.blue-circle > * {
  position: absolute;
  left: 50%;
  font-size: 10px;
  color: white;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}

.bg-fail {
  background-color: var(--color-fail) !important;

  & .set-path-fill path {
    fill: white;
  }
}
.bg-success {
  background-color: var(--color-success) !important;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 230px;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;

  background-color: var(--dropdown-bg-color);
  padding: 5px;
  width: fit-content;

  border-radius: var(--standard-border-radius);
}

.dropdown.up .dropdown-content {
  bottom: 100%;
  left: 0;
}
.dropdown.down .dropdown-content {
  top: 100%;
  left: 0;
}

.modal-container {
  width: 100%;
  height: 100vh !important;
  position: absolute;
  z-index: 10;
  background-color: var(--backdrop-background);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modal-container > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 50%;
  width: min(99%, 750px);
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.modal-container > div .modal-header {
  font-weight: bolder;
  font-size: 16px;
}

.modal-container > div .modal-content {
  background-color: rgb(236, 232, 232);
  padding: inherit;
  border-radius: inherit;
  position: relative;
}

.float-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.text-white {
  border: white;
  color: white !important;
  --read-font-color: white;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.palpitate {
  animation: palpitate 1s ease-in infinite;
  animation-play-state: running;
}

@keyframes palpitate {
  0% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.separator {
  justify-content: center;
  display: flex;
  color: var(--font-color-secondary);
  align-items: center;
  gap: 20px;
}
.separator > div {
  width: 100%;
  height: 1px;
  background-color: var(--font-color-secondary);
}

.btn-dark {
  border: 1px solid var(--bg-color-dark-gray);
}
.w-100 {
  width: 100% !important;
}

.btn-dark:hover {
  background-color: var(--color-hovered);
}

#main-container {
  width: var(--app-width);
  margin-inline: auto;
  height: 99dvh;
}

#main-container.iframe-mode {
  width: 100vw !important;
}
@media only screen and (min-width: 1111px) {
  #main-container.iframe-mode {
    margin-top: 0;
  }
}

.badge {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.clickeable:hover {
  background-color: var(--color-hovered);
}

.min-width {
  width: var(--app-width);
}

.gap-small {
  gap: 5px;
}

.gap-medium {
  gap: 10px;
}

.gap-big {
  gap: 20px;
}

.my-2 {
  margin-block: 20px;
}
.my-small {
  margin-block: 10px;
}
.d-none {
  display: none;
}

@media only screen and (min-width: 769px) {
  .hide-continue-button {
    display: none !important;
  }
}

.browser {
  height: max-content !important;
  background-color: var(--opaque-blue-editor);
  padding: 3px;
}
.browser-tab {
  padding: 4px 20px;
  border-radius: 5px;
  background-color: var(--soft-blue);
  color: var(--color-active);
  max-width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.browser-header {
  background-color: #8585852f;
  border-radius: 5px;
  width: 100%;
  padding: 2px;
}
.browser-body {
  background-color: var(--app-bg-color);
  overflow-y: auto;
  min-height: 200px;
  border-radius: 5px;
  margin-top: 3px;
}

.danger-on-hover:hover {
  background-color: var(--soft-red);
  color: white;
  & svg.set-path-fill path {
    fill: white !important;
  }
}

/* .danger-on-hover:active {
  background-color: var(--color-fail);
  color: white;
  & svg.set-path-fill path {
    fill: white !important;
  }
} */

.success-on-hover:hover {
  background-color: var(--soft-green);
  color: black;

  & svg {
    --read-font-color: black;
  }
}

/* .success-on-hover:active {
  background-color: var(--color-success);
  color: white;
  & svg.set-path-fill path {
    fill: white !important;
  }
} */

.svg-success svg path {
  stroke: var(--color-success) !important;
}
.hover:hover {
  background-color: rgba(163, 158, 158, 0.326) !important;
}

.preview-iframe {
  border-radius: var(--standard-border-radius);
  color: var(--read-font-color) !important;
}
.padding-medium {
  padding: 10px;
}
.padding-small {
  padding: 5px;
}

.bg-secondary {
  background-color: var(--color-hovered);
}
.bg-danger {
  background-color: var(--color-fail);
}
.bg-selected {
  background-color: var(--opaque-blue-editor);
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-hovered);
}

.text-blue {
  color: var(--color-active);
}

.circle-small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.vh100 {
  height: 100vh;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.justify-end {
  justify-content: flex-end;
}
.flex-x {
  display: flex;
}
.font-size-m {
  font-size: var(--font-size-medium);
}

.pos-fixed {
  position: fixed;
}
.hiddenOnMobile {
  display: none;
}
.active-hr {
  border-bottom: 2px solid var(--color-active);
}

.inline-auto {
  margin-inline: auto;
}

.d-block {
  display: block;
}
.padding-big {
  padding: 20px;
}

.m-0 {
  margin: 0;
}
.bg-rigo {
  background-color: var(--color-blue-rigo);
}
.bg-gray {
  background-color: var(--color-hovered);
}
.conector-blue {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .hiddenOnMobile {
    display: block;
    text-align: center;
  }
  .conector-blue::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue-rigo);
    left: 50%;
    transform: translateX(-50%);
    top: 95%;
  }
}
.svg-white .set-stroke > path {
  stroke: white;
}

.continue-button {
  /* visibility: hidden;
  display: none; */
  animation: show-continue-button 1s ease-in-out forwards;
}

@keyframes show-continue-button {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
    display: block;
  }
}
.opaque-blue-on-hover:hover {
  background-color: var(--color-blue-opaque);
}

.info-bubble-container {
  position: relative;
  width: fit-content;
  overflow: visible;
}
.info-bubble-message {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: var(--color-blue-rigo);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.info-bubble-opener:hover + .info-bubble-message {
  display: block;
}
.info-bubble-message:hover {
  display: block;
}

.pointer {
  cursor: pointer;
}
.text-small {
  font-size: 12px;
}
.margin-children-none > * {
  margin: 0 !important;
}

.padding-mini {
  padding: 3px;
}
.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.big-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.hidden {
  display: none;
}
.margin-0 {
  margin: 0;
}

.bg-warning {
  background-color: var(--color-warning);
}
.text-black {
  color: black !important;
}

.svg-black {
  & svg {
    --read-font-color: black;
  }
}
.stdout-prefix {
  color: var(--color-active);
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}
.stdout {
  background-color: black;
  padding: 10px;
  color: white;
}
.stdin {
  background-color: var(--bg-2);
  padding: 10px;
  color: var(--read-font-color);
}
.stderr {
  background-color: black;
  padding: 10px;
  color: var(--color-fail);
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.bg-soft-green {
  color: black;
  background-color: var(--soft-green) !important;
  /* transition: background-color 0.3s ease; */
}

.bg-soft-red {
  color: black;
  background-color: var(--soft-red) !important;
}

.bg-soft-blue {
  background-color: var(--soft-blue) !important;
}

.fit-content {
  width: fit-content;
}
.text-bold {
  font-weight: bold;
}
.border-gray {
  border: 1px solid var(--color-hovered);
}

.scale-on-hover {
  transition: scale 0.3s ease;
}
.scale-on-hover:hover {
  scale: 1.05;
}

.bg-transparent {
  background-color: transparent;
}

.gray-on-hover {
  transition: background-color 0.3s ease;
}
.gray-on-hover:hover {
  background-color: var(--color-hovered);
}
.text-dark {
  color: rgb(24, 24, 24);
}
.mr-10 {
  margin-right: 40px;
}

.wrap-wrap {
  flex-wrap: wrap;
}

.h-100 {
  height: 100%;
}

.z-index-1 {
  z-index: 1;
}

.text-secondary {
  color: var(--font-color-secondary);
}

.svg-blue {
  & svg {
    --read-font-color: var(--color-blue-rigo);
  }
}

.blank-input {
  background: transparent;
  border: 0;
  padding: 8px;
  font-size: 16px;
  &::placeholder {
    color: var(--gray-blue-color);
  }
}

.active-on-hover {
  transition: all 0.3s ease;
  cursor: pointer;
}
.active-on-hover:hover {
  background-color: var(--color-blue-rigo);
  color: white;
  scale: 1.01;

  & svg {
    --read-font-color: white;
  }
}
.active-on-hover:active {
  scale: 0.99;
}

.border-bottom-blue {
  border-bottom: 1px solid var(--opaque-blue-editor);
}

.bg-1 {
  background-color: var(--bg-1) !important;
}
.bg-2 {
  background-color: var(--bg-2) !important;
}
.bg-white {
  background-color: var(--white) !important;
}

.margin-left-small {
  margin-left: 10px;
}

.svg-blue {
  --read-font-color: var(--color-blue-rigo);
}

.textarea {
  border: 1px solid var(--color-hovered);
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  resize: none;
}

.border-warning {
  border: 1px solid var(--color-warning);
}
